{% extends "base.html" %}

{% import "recipes/recipe_card.html" as recipe_card %}

{% block content %}

<h3 class="center">{{ user.name }}'s profile</h3>

<div class="row center">
    <!-- User's recipes -->
    <h4>Recipes</h4>

    {% if recipes|length == 0 %}
    <h4>This user does not yet have any recipes</h4>
    {% endif %}

    {% for recipe in recipes %}
    {{ recipe_card.render(recipe, creator_id=user._id, creator_name=user.name, can_edit=False) }}
    {% endfor %}
</div>

{% endblock %}