{% extends "base.html" %}

{% block content %}

<h3 class="center">Change Password</h3>

<div class="row center card-panel">
    <form class="col s12" action="{{ url_for('account_change_password') }}" method="post">
        {{ form.csrf_token }}

        <!-- Old password field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{ form.old_password(class_="validate" if not form.old_password.errors else "validate invalid") }}
                {{ form.old_password.label }}

                <!-- Old password validation errors -->
                {% if form.old_password.errors %}
                <ul class="red-text">
                    {% for error in form.old_password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <!-- New password field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{ form.new_password(class_="validate" if not form.new_password.errors else "validate invalid") }}
                {{ form.new_password.label }}

                <!-- New password validation errors -->
                {% if form.new_password.errors %}
                <ul class="red-text">
                    {% for error in form.new_password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <!-- Submit button -->
        <div class="row">
            <button type="submit" class="btn-large">
                Change password
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}