{% extends "base.html" %}

{% import "home/search_form.html" as search_form %}
{% import "recipes/recipe_card.html" as recipe_card %}

{% block content %}

<!-- Hero image and site heading -->
<section id="hero" class="row">
    <div class="col s12">
        <h1 class="center blue-grey-text text-lighten-5">The Home of Home Cooking</h1>
    </div>

    <!-- Search form -->
    <div class="col s10 offset-s1">
        {{ search_form.render(form) }}
    </div>
</section>

<!-- Popular recipes -->
<section id="popular-recipes">
    <h2>Popular recipes</h2>

    {% for recipe in popular_recipes %}
    {{ recipe_card.render(recipe, creator_name=recipe.creator.name, can_edit=False) }}
    {% endfor %}
</section>

<!-- Recipes by category -->
<section>
    <h2>Recipes by category</h2>
</section>

{% endblock %}