#hero {
    background-image: url('../images/hero.jpg');
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
}

nav {
    /* Push up nav z-index so it shows over the hero div on the home page */
    position: relative;
    z-index: 1;
}

main {
    /* Pad the main content to create space for the footer */
    padding-bottom: 150px;
}

#hero h1 {
    text-shadow: 0 0 5px black;
    margin-top: 150px;
    margin-bottom: 80px;
}

#popular-recipes {
    margin-top: 500px;
}

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.small-text {
    font-size: small;
}

.italicize {
    font-style: italic;
}

.remove-btn {
    /* Push up remove-btn z-index so it's not blocked by the input label */
    z-index: 1;
}

.scroller {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.scroller .card {
    flex-basis: 450px;
    min-width: 200px;
}