<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Book</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
</head>

<body>
    <header>
        <!-- Main nav menu -->
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home_index') }}" class="brand-logo">Cook Book</a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if is_logged_in() %}
                    <li><a href="{{ url_for('recipes_favourites') }}">Favourite Recipes</a></li>
                    <li><a href="{{ url_for('recipes_index') }}">My Recipes</a></li>
                    <li><a href="{{ url_for('account_index') }}">My Account</a></li>
                    <li><a class="logout-button">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_login') }}">Log In</a></li>
                    <li><a href="{{ url_for('user_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile side-nav menu -->
        <ul class="sidenav" id="mobile-sidenav">
            {% if is_logged_in() %}
            <li><a href="{{ url_for('recipes_favourites') }}">Favourite Recipes</a></li>
            <li><a href="{{ url_for('recipes_index') }}">My Recipes</a></li>
            <li><a href="{{ url_for('account_index') }}">My Account</a></li>
            <li><a class="logout-button">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('user_login') }}">Log In</a></li>
            <li><a href="{{ url_for('user_register') }}">Register</a></li>
            {% endif %}
        </ul>

        <!-- Hidden logout form to be submitted by navbar link -->
        <form id="logout-form" action="{{ url_for('user_logout') }}" method="post" hidden>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </header>

    <main class="container">
        <!-- Flashed messages section -->
        <section id="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </section>

        <!-- Main content -->
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row center">
                <div class="col s12 m6">
                    <a href="{{ url_for('home_contact') }}" class="white-text">Contact Us</a>
                </div>
                <div class="col s12 m6">
                    <a href="#attribution-modal" class="white-text modal-trigger">Content Attribution</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2023
            </div>
        </div>
    </footer>

    <div id="attribution-modal" class="modal">
        <div class="modal-content">
            <h4>Content Attribution</h4>
            <h6>Favicon</h6>
            <p>
                <img src="{{ url_for('static', filename='favicon.png' )}}" alt="The website's favicon">
                <br>
                <a target="_blank" href="https://icons8.com/icon/2iMVPKuGY5aG/cooking-book">Recipe</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close btn-flat">Close</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"
        integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>