<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
</head>

<body>
    <header>
        <!-- Main nav menu -->
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Cook Book</a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                    <li><a href="{{ url_for('recipes_index') }}">My Recipes</a></li>
                    <li><a href="{{ url_for('account_index') }}">My Account</a></li>
                    <li><a class="logout-button">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_login') }}">Log In</a></li>
                    <li><a href="{{ url_for('user_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile side-nav menu -->
        <ul class="sidenav" id="mobile-sidenav">
            {% if session.user %}
            <li><a href="{{ url_for('recipes_index') }}">My Recipes</a></li>
            <li><a href="{{ url_for('account_index') }}">My Account</a></li>
            <li><a class="logout-button">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('user_login') }}">Log In</a></li>
            <li><a href="{{ url_for('user_register') }}">Register</a></li>
            {% endif %}
        </ul>

        <!-- Hidden logout form to be submitted by navbar link -->
        <form id="logout-form" action="{{ url_for('user_logout') }}" method="post" hidden>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </header>

    <main class="container">
        <!-- Flashed messages section -->
        <section id="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </section>

        {% block content %}
        {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"
        integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>