{% extends "base.html" %}

{% import "recipes/recipe_image.html" as recipe_image %}
{% import "recipes/recipe_serves.html" as recipe_serves %}

{% block content %}

<!-- Recipe title -->
<h3 class="center">{{ recipe.name }}</h3>

<div class="row center">
    <!-- Recipe image -->
    <div class="col s12">
        {{ recipe_image.render(recipe.image_data, "responsive-img") }}
    </div>
</div>

<div class="row card-panel center">
    <div class="col s12 right-align">
        {% if is_favourite %}
        <!-- Remove from favourites action -->
        <form class="d-inline" action="{{ url_for('recipes_favourite', id=recipe._id, set='off') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn">
                <i class="material-icons right">favorite_border</i>
                Unfavourite
            </button>
        </form>
        {% else %}
        <!-- Add to favourites action -->
        <form class="d-inline" action="{{ url_for('recipes_favourite', id=recipe._id, set='on') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn">
                <i class="material-icons right">favorite</i>
                Favourite
            </button>
        </form>
        {% endif %}

        {% if is_liked %}
        <!-- Remove from likes action -->
        <form class="d-inline" action="{{ url_for('recipes_like', id=recipe._id, set='off') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn">
                <i class="material-icons right">thumb_down</i>
                Unlike
            </button>
        </form>
        {% else %}
        <!-- Add to likes action -->
        <form class="d-inline" action="{{ url_for('recipes_like', id=recipe._id, set='on') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn">
                <i class="material-icons right">thumb_up</i>
                Like
            </button>
        </form>
        {% endif %}
    </div>

    <div class="col s12">
        <!-- Description -->
        <p class="recipe-description">{{ recipe.description }}</p>
    </div>

    <div class="col s12">
        <!-- How long the recipe takes -->
        <p class="recipe-duration">Takes around {{ recipe.time_minutes }} minutes</p>
    </div>

    <div class="col s12 m3">
        <!-- How many the recipe serves-->
        <p class="recipe-serves">Serves {{ recipe_serves.render(recipe) }}</p>

        <!-- Ingredients -->
        <ul class="recipe-ingredients">
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col s12 m9">
        <!-- Steps -->
        <ol class="recipe-steps">
            {% for step in recipe.steps %}
            <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </div>
</div>

<h5>Comments</h5>

{% if recipe.comments|length == 0 %}
<h6 class="center">This recipe has no comments. Be the first!</h6>
{% endif %}

<div class="row card-panel">
    {% if is_logged_in() %}
    <!-- Comment form -->
    <form action="{{ url_for('recipes_comment', id=recipe._id) }}" method="post">
        {{ comment_form.csrf_token }}
        <div class="input-field d-flex">
            {{ comment_form.text(class_ = "validate character-counter" if not comment_form.text.errors else "validate
            invalid character-counter", data_length=200) }}
            {{ comment_form.text.label }}

            <button type="submit" class="btn">
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>
    {% else %}
    <!-- Link to login with redirect URL back to this page -->
    <a href="{{ url_for('user_login', redirect_url=url_for(request.endpoint, **request.view_args)) }}">
        Log in to leave a comment
    </a>
    {% endif %}
</div>

<!-- Comments -->
{% for comment in recipe.comments %}
<div class="row card-panel">
    <div class="col s6">
        <a href="{{ url_for('profile_index', id=comment.creator_id) }}" class="small-text">
            {{ comment.creator.name }}
        </a>
    </div>
    <div class="col s6">
        <span class="small-text right">{{ comment.created_at.strftime("%m/%d/%Y %H:%M:%S") }}</span>
    </div>
    <div class="col s12">
        {{ comment.text }}
    </div>
</div>
{% endfor %}

{% endblock %}