{% extends "base.html" %}

{% import "recipes/recipe_image.html" as recipe_image %}
{% import "recipes/recipe_serves.html" as recipe_serves %}

{% block content %}

<!-- Recipe title -->
<h3 class="center">{{ recipe.name }}</h3>

<div class="row center">
    <!-- Recipe image -->
    <div class="col s12">
        {{ recipe_image.render(recipe.image_data, "responsive-img") }}
    </div>
</div>

<div class="row center">
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <!-- Description -->
                <p>{{ recipe.description }}</p>
            </div>
            
            <div class="col s12">
                <!-- How long the recipe takes -->
                <p>Takes around {{ recipe.time_minutes }} minutes</p>
            </div>
        
            <div class="col s12 m3">
                <!-- How many the recipe serves-->
                <p>Serves {{ recipe_serves.render(recipe) }}</p>
                
                <!-- Ingredients -->
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        
            <div class="col s12 m9">
                <!-- Steps -->
                <ol>
                    {% for step in recipe.steps %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}