{% extends "base.html" %}

{% import "recipes/recipe_image.html" as recipe_image %}
{% import "recipes/recipe_serves.html" as recipe_serves %}

{% block content %}

<!-- Recipe title -->
<h3 class="center">{{ recipe.name }}</h3>

<div class="row center">
    <!-- Recipe image -->
    <div class="col s12">
        {{ recipe_image.render(recipe.image_data, "responsive-img") }}
    </div>
</div>

<div class="row center">
    <!-- Description -->
    <div class="col s12">
        <p>{{ recipe.description }}</p>
    </div>

    <!-- How many the recipe serves -->
    <div class="col s12">
        <p>Serves {{ recipe_serves.render(recipe) }}</p>
    </div>

    <!-- How long the recipe takes -->
    <div class="col s12">
        <p>Takes around {{ recipe.time_minutes }} minutes</p>
    </div>

    <!-- Ingredients -->
    <div class="col s12">
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Steps -->
    <div class="col s12">
        <ol>
            {% for step in recipe.steps %}
            <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}