{% extends "base.html" %}

{% import "recipes/recipe_image.html" as recipe_image %}

{% block content %}

<h3 class="center">Your recipes</h2>

<div class="row center">
    {% if recipes|length == 0 %}
    <h3>You have not created any recipes yet</h3>
    {% endif %}

    <div class="col s12">
        <a href="#" class="btn-large">Create a Recipe</a>
    </div>

    {% for recipe in recipes %}
    <div class="col s12 m6">
        <div class="card left-align">
            <div class="card-image">
                {{ recipe_image.render(recipe.image_data) }}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ recipe.name }}
                    <i class="material-icons right">more_vert</i>
                </span>
                <div class="row">
                    <div class="col s4">
                        <i class="material-icons left">person</i>
                        {% if recipe.serves.from == recipe.serves.to %}
                        {{ recipe.serves.from }}
                        {% else %}
                        {{ recipe.serves.from }}-{{ recipe.serves.to }}
                        {% endif %}
                    </div>
                    <div class="col s4">
                        <i class="material-icons left">hourglass_empty</i>
                        {{ recipe.time_minutes }}m
                    </div>
                    <div class="col s4">
                        <i class="material-icons left">star</i>
                        {{ recipe.rating }}
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    {{ recipe.name }}
                    <i class="material-icons right">close</i>
                </span>
                <p>{{ recipe.description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('recipes_edit', id=recipe._id) }}">Edit</a>
                <a href="{{ url_for('recipes_delete', id=recipe._id) }}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}