{% extends "base.html" %}

{% import "recipes/recipe_card.html" as recipe_card %}

{% block content %}

<h3 class="center">Your recipes</h2>

<div class="row center">
    <!-- Text to show if the user has no recipes -->
    {% if recipes|length == 0 %}
    <h4>You have not created any recipes yet</h4>
    {% endif %}

    <!-- Create recipe button -->
    <div class="col s12">
        <form action="{{ url_for('recipes_create') }}" method="post">
            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

            <button type="submit" class="btn-large">
                Create a Recipe
            </button>
        </form>
    </div>

    <!-- List of the logged in user's recipes -->
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
        {{ recipe_card.render(recipe, can_edit=True) }}
    </div>
    {% endfor %}
</div>

{% endblock %}